In [6]:
import pandas as pd

dataset1 = pd.read_csv('general_data.csv')
dataset1.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [8]:
dataset1.dropna()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [97]:
dataset3 = dataset1.dropna()
dataset3

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,1,4405,Female,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [98]:
dataset3.Attrition[dataset3.Attrition=='Yes'] = 1
dataset3.Attrition[dataset3.Attrition=='No'] = 0
print(dataset3)

      Age Attrition     BusinessTravel              Department  \
0      51         0      Travel_Rarely                   Sales
1      31         1  Travel_Frequently  Research & Development
2      32         0  Travel_Frequently  Research & Development
3      38         0         Non-Travel  Research & Development
4      32         0      Travel_Rarely  Research & Development
...   ...       ...                ...                     ...
4404   29         0      Travel_Rarely                   Sales
4405   42         0      Travel_Rarely  Research & Development
4406   29         0      Travel_Rarely  Research & Development
4407   25         0      Travel_Rarely  Research & Development
4408   42         0      Travel_Rarely                   Sales

      DistanceFromHome  Education EducationField  EmployeeCount  EmployeeID  \
0                    6          2  Life Sciences              1           1
1                   10          1  Life Sciences              1           2
2                   17          4          Other              1           3
3                    2          5  Life Sciences              1           4
4                   10          1        Medical              1           5
...                ...        ...            ...            ...         ...
4404                 4          3          Other              1        4405
4405                 5          4        Medical              1        4406
4406                 2          4        Medical              1        4407
4407                25          2  Life Sciences              1        4408
4408                18          2        Medical              1        4409

      Gender  ...  NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0     Female  ...                 1.0      Y                11              8
1     Female  ...                 0.0      Y                23              8
2       Male  ...                 1.0      Y                15              8
3       Male  ...                 3.0      Y                11              8
4       Male  ...                 4.0      Y                12              8
...      ...  ...                 ...    ...               ...            ...
4404  Female  ...                 1.0      Y                18              8
4405  Female  ...                 3.0      Y                17              8
4406    Male  ...                 2.0      Y                15              8
4407    Male  ...                 0.0      Y                20              8
4408    Male  ...                 0.0      Y                14              8

      StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  \
0                    0               1.0                      6
1                    1               6.0                      3
2                    3               5.0                      2
3                    3              13.0                      5
4                    2               9.0                      2
...                ...               ...                    ...
4404                 0               6.0                      2
4405                 1              10.0                      5
4406                 0              10.0                      2
4407                 0               5.0                      4
4408                 1              10.0                      2

      YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
0                  1                        0                     0
1                  5                        1                     4
2                  5                        0                     3
3                  8                        7                     5
4                  6                        0                     4
...              ...                      ...                   ...
4404               6                        1                     5
4405               3                        0                     2
4406               3                        0                     2
4407               4                        1                     2
4408               9                        7                     8

[4382 rows x 24 columns]

C:\Users\amarc\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\amarc\anaconda3\lib\site-packages\pandas\core\generic.py:8767: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\amarc\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.Age)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and Age")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and Age")

-0.15839867954096148 5.126598219399243e-26
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and Age

In [102]:
dataset3.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.007376,-0.033900,NaN,0.008105,-0.001137,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
DistanceFromHome,0.007376,1.000000,-0.007491,NaN,-0.000326,-0.039990,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.007491,1.000000,NaN,-0.009389,0.045822,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.000326,-0.009389,NaN,1.000000,-0.003090,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079
JobLevel,-0.001137,-0.039990,0.045822,NaN,-0.003090,1.000000,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.022757,0.007289,NaN,0.007865,0.046688,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,-0.014449,-0.016210,NaN,0.000719,-0.009759,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.037720,-0.041054,NaN,-0.004877,0.010874,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,0.009353,0.002386,NaN,-0.013488,0.000365,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,0.009574,-0.009228,NaN,-0.001688,-0.036293,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.008957,0.009939,NaN,-0.012102,-0.031931,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,0.030746,0.005997,NaN,0.004117,-0.063360,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,0.002243,0.023457,NaN,0.000814,-0.059680,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,0.021773,0.005645,NaN,0.009079,-0.053898,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000

In [103]:
# Attrition and DistanceFromHome
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.DistanceFromHome)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and DistanceFromHome")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and DistanceFromHome")

-0.009448638515156007 0.5317715668019634
Null Hypothesis Rejected and Alternative Hypothesis Accepted
There is correlation between Attrition and DistanceFromHome

In [105]:
# Attrition and Education
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.Education)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and Education")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and Education")

-0.017106307050278116 0.2575753930816995
Null Hypothesis Rejected and Alternative Hypothesis Accepted
There is correlation between Attrition and Education

In [106]:
# Attrition and JobLevel
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.JobLevel)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and JobLevel")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and JobLevel")

-0.012381569720790164 0.4125489150377358
Null Hypothesis Rejected and Alternative Hypothesis Accepted
There is correlation between Attrition and JobLevel

In [107]:
# Attrition and MonthlyIncome
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.MonthlyIncome)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and MonthlyIncome")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and MonthlyIncome")

-0.030160293808459575 0.04589086274474114
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and MonthlyIncome

In [108]:
# Attrition and NumCompaniesWorked
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.NumCompaniesWorked)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and NumCompaniesWorked")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and NumCompaniesWorked")

0.042830567244719 0.004572057121625154
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and NumCompaniesWorked

In [109]:
# Attrition and PercentSalaryHike
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.PercentSalaryHike)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and PercentSalaryHike")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and PercentSalaryHike")

0.03315303713546523 0.028192446935107012
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and PercentSalaryHike

In [110]:
# Attrition and StockOptionLevel
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.StockOptionLevel)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and StockOptionLevel")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and StockOptionLevel")

-0.008164026684984026 0.5889996358312328
Null Hypothesis Rejected and Alternative Hypothesis Accepted
There is correlation between Attrition and StockOptionLevel

In [111]:
# Attrition and TotalWorkingYears
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.TotalWorkingYears)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and TotalWorkingYears")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and TotalWorkingYears")

-0.16966991684723273 1.1645434967147956e-29
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and TotalWorkingYears

In [112]:
# Attrition and TrainingTimesLastYear
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.TrainingTimesLastYear)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and TrainingTimesLastYear")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and TrainingTimesLastYear")

-0.047585736930815525 0.0016276603635481809
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and TrainingTimesLastYear

In [113]:
# Attrition and YearsAtCompany
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.YearsAtCompany)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and YearsAtCompany")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and YearsAtCompany")

-0.13300261842521083 9.476118084864852e-19
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and YearsAtCompany

In [114]:
# Attrition and YearsSinceLastPromotion
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.YearsSinceLastPromotion)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and YearsSinceLastPromotion")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and YearsSinceLastPromotion")

-0.03142315056330794 0.03752293607393637
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and YearsSinceLastPromotion

In [115]:
# Attrition and YearsWithCurrManager
from scipy.stats import pearsonr
stats,p =pearsonr(dataset3.Attrition, dataset3.YearsWithCurrManager)
print(stats,p)
if (p>0.05):
    print("Null Hypothesis Rejected and Alternative Hypothesis Accepted")
    print("There is correlation between Attrition and YearsWithCurrManager")
elif(p<0.05):
    print("Null Hypothesis Accepted and Alternative Hypothesis Rejected")
    print("There is no correlation between Attrition and YearsWithCurrManager")

-0.154691536902868 7.1053696467956645e-25
Null Hypothesis Accepted and Alternative Hypothesis Rejected
There is no correlation between Attrition and YearsWithCurrManager